.profile-pic {
    max-width: 25rem; 
    max-height: 35rem; 
    border-radius: 50%; 
  }

.about-div {
    height: 80vh;
}

.about-content {
    height: 60vh;
}

.about-text {
    color: white;
    font-size: 2rem;
}

.intro {
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 12px;
}