li {
  padding: 1rem;
  font-size: 1.2rem;
}

.name {
  font-weight: bold;
  display: block;
}

.navbar-brand {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  cursor: pointer;
}

.nav-item.active .nav-link{
  color: white;
  transform: scale(1.5);
}

.nav-link:hover {
  color: #000000;
  transform: scale(1.05);
}
